#SERVER
#-------------------------
API_BASE_HOST=localhost:8080/api
PORT=3001
NODE_ENV=development

#DATABASE
#------------------------
MONGO_URI=mongodb://admin:admin@ntf5_mongodb:27017

#Redis
REDIS_URI=redis://localhost:6379/1

#JWT
#-------------------------
TOKEN_SECRET=09f26e402586e2faa8da4c98a35f1b20d6b033c6097befa8be3486a829587fe2f90a832bd3ff9d42710a4da095a2ce285b009f0c3730cd9b8e1af3eb84df4432
TOkEN_EXPRIE=10d